@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(35 37 41)
}

.active{
    position: relative;
}
.active:after{
 content: '';
 position: absolute;
 bottom: -1.8rem;
 left:0;
 width: 100%;
 height: 2px;
 background-color: #12a4c3;
}

.senka{
    filter: drop-shadow(23px -54px 250px #2CC1DB);
}
.senka-beli-veliki{
    filter: drop-shadow(-20px 30px 136px rgba(18, 164, 195, 0.42));
    
}

*:selection{
    background-color: #12a4c3;
    color:black;
}